doctype html
html
  head
    title= title
    link(
      rel='icon'
      href='/assets/header.png'
      type='image/png'
      )
    link(
      rel='stylesheet'
      href='/assets/' + stylesheet
      type='text/css'
    )

  //- Section for adding extra stylesheet or other link stuff
  block top-links

  body(
    class= body_class //-page specific body class
    )
    .body-contents
      //- common header for all the pages
      block header
        header
          include ./header
      //- Page specific content
      block contents

      //- show footer conditionally
      if showFooter
        .c-footer#c-footer
          include ./footer

    //- Add core js files including layout
    if corejs
      script(
        src='/assets/' + corejs
      )

    //- Any script which has to be externalized e.g. React
    block scripts

    //- Load page specific script
    script(
      src='/assets/' + javascript
    )

    block bottom-links
